ipykernel

albumentations
opencv-python

# Numerical and Scientific Computing Libraries
numpy              # Fundamental package for array computing with Python.

# Image Processing Library
Pillow             # Python Imaging Library (PIL) fork; used for opening, manipulating, and saving image files.

# Data Visualization Library
matplotlib         # Comprehensive library for creating static, animated, and interactive visualizations in Python.

# Data Manipulation Library
pandas             # Data analysis and manipulation library; provides data structures and operations for manipulating numerical tables and time series.

pycocotools-windows

# Progress Bar Library
tqdm               # Library for adding progress bars to loops in Python.

# Deep Learning Libraries
torch              # PyTorch deep learning framework; used for building and training neural networks.
torchvision        # PyTorch library with popular datasets, model architectures, and image transformations for computer vision.
torchmetrics       # Library providing metrics for evaluating machine learning models in PyTorch.
torchaudio
pytorch-lightning

seaborn
tensorboard

# Machine Learning and Data Science Libraries
scikit-learn       # Library for machine learning, including tools for model training, evaluation, and cross-validation.